# local config
/src/main/resources/application.properties

# Java related
target/**
*.jar
*.war
*.ear
*.class

#node.js
Build/node_modules/**

# eclipse specific
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# intellij
.idea/**
*.iml