<!DOCTYPE HTML>
<!-- Holds fragments for static assests, headers, footers -->
<!-- @ToDo: Refactor 2 Layout -->
<html xmlns:th="http://www.thymeleaf.org">

<!-- header assests -->	
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link th:href="@{/js/main.css}" rel="stylesheet" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css"
	type="text/css">
<style>
.map {
	height: 400px;
	width: 100%;
}
</style>
<script
	src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
</head>

<body>
<!-- HeaderNav -->
	<header th:fragment="headernav" class="navbar navbar-expand flex-column flex-md-row bd-navbar">
		<a class="navbar-brand mr-0 mr-md-2" aria-label="Playgrounds" href="/index">Playgrounds</a>
		<div class="navbar-nav-scroll">
			<ul class="navbar-nav bd-navbar-nav flex-row">
				<li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
			</ul>
		</div>
		<ul class="navbar-nav ml-md-auto">
			<li class="nav-item"><a class="nav-link" aria-label="GitHub"
				href="https://github.com/" target="_blank" rel="noopener">Github</a>
			</li>
		</ul>
	</header>
<!-- Stubs -->	
	<div th:fragment="playground (playground)">
		<a th:href="@{/playground} + '?id=' + ${playground.id}">
			<h2 th:text="${playground.name}">
				Thymeleaf Fragments sample
				</h1>
		</a>
	</div>
<!-- footer assests -->	
	<div th:fragment="footerfiles">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"></script>
	</div>
</body>
</html>